<mat-tab-group>
  <mat-tab *ngFor="let session of ActiveCalcSessions">
    <ng-template matTabLabel>
      <div class="headerContainer">
        <span class="first-column">{{session.Name || 'Unnamed'}}</span>
        <button (click)="onCloseTab($event, session)"
                class="second-column"
                mat-stroked-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </ng-template>
    <ng-template matTabContent>
      <app-calculator-overview [SessionId]="session.SessionId"></app-calculator-overview>
    </ng-template>
  </mat-tab>
</mat-tab-group>
