button {
  width: 20px;
  height: 20px;
  line-height: 20px;
  min-height: 0;
  min-width: 0;
  vertical-align: top;
  font-size: 10px;
  padding: 0 0;
  margin: 0;
}

::ng-deep .mat-icon {
  height: 16px !important;
  width: 16px !important;
  font-size: 16px !important;
  margin-bottom: 3px;
}

.headerContainer {
  display: grid;
  grid-template-columns: auto 20px;
  width: 100%;
}

.headerContainer span {
  text-align: left;
  margin-right: .5em;
}

::ng-deep .mat-tab-label {
  padding: 0 .5em 0 24px !important;
}

::ng-deep .mat-tab-label-content {
  width: 100% !important;
  justify-content: flex-start !important;
}
