<mat-sidenav-container id="sidenavContainer">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item routerLink="/storage/import">
        Import
      </mat-list-item>
      <mat-list-item routerLink="/recipes/browse">
        Browse Recipes
      </mat-list-item>
      <mat-list-item routerLink="/calculator/history">
        Calculator History
      </mat-list-item>
      <mat-list-item routerLink="/settings">
        Settings
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

