<mat-card>
  <form #calcForm="ngForm">

    <div class="first-column first-row" title="recipeNameAndIcon">
      <img [src]="getIconByName(CurrentSession.Recipe.name)"
           alt=""
           height="32"
           width="32"/>
      <span>{{CurrentSession.Recipe.name | replaceChar: '-':' ' | titlecase}}</span>
    </div>

    <mat-form-field class="second-column first-row">
      <input [(ngModel)]="CurrentSession.TargetAmountPerSecond"
             matInput
             name="input_targetAmountPerSecond"
             (change)="targetAmountChanged()"
             (blur)="targetAmountChanged()"
             [matAutocomplete]="limitations"
             placeholder="Target Amount Per Second">
      <mat-autocomplete #limitations="matAutocomplete"
                        (optionSelected)="targetAmountChanged()">
        <mat-option *ngFor="let limit of limitationsData" [value]="limit.value">
          {{limit.value | number:'2.2-2'}} - {{limit.name}}
        </mat-option>
      </mat-autocomplete>
      <button (click)="btn_add_limitation()"
              mat-button
              mat-icon-button
              matSuffix
              matTooltip="Add limitation">
        <mat-icon>expand_more</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="third-column first-row">
      <input [(ngModel)]="CurrentSession.NeededAssemblersCount"
             matInput
             name="input_neededAssemblersCount"
             placeholder="Assemblers Needed">
    </mat-form-field>

    <mat-expansion-panel class="second-row" id="calc-details-exp-details">
      <mat-expansion-panel-header>Details</mat-expansion-panel-header>
      <div id="calc-details-exp-details-content">
        <div class="first-row first-column" id="calc-details-recipe-details">
          <h3 class="first-row">Craftable in:</h3>
          <mat-selection-list (selectionChange)="onCraftingMachineSelectionChanged($event)"
                              class="second-row"
                              dense>
            <div *ngFor="let craftingMachine of CraftingMachines">
              <mat-list-option *ngIf="recipeCanBeCraftedInMachine(CurrentSession.Recipe,craftingMachine)"
                               [selected]="craftingMachine.name === CurrentSession?.CraftingMachine?.name"
                               [value]="craftingMachine">
                <span>
                  <img [src]="getIconByName(craftingMachine.name)"
                       alt=""
                       height="32"
                       width="32"/>
                  {{craftingMachine.name | replaceChar: '-':' ' | titlecase}}
                </span>
              </mat-list-option>
            </div>
          </mat-selection-list>


          <app-module-list (AddModule)="on_btn_add_module_click($event)"
                           (RemoveModule)="on_btn_remove_module_click($event)"
                           Title="Modules"
                           [AvailableModules]="Modules"
                           [MaxNumberOfModules]="CurrentSession?.CraftingMachine?.moduleInventorySize"
                           [SelectedModules]="CurrentSession.Modules"
                           class="third-row">

          </app-module-list>

          <app-module-list (AddModule)="on_btn_add_beacon_click($event)"
                           (RemoveModule)="on_btn_remove_beacon_click($event)"
                           Title="Beacons"
                           [AvailableModules]="Modules"
                           [MaxNumberOfModules]="null"
                           [SelectedModules]="CurrentSession?.Beacons"
                           class="fifth-row">

          </app-module-list>

          <h3 class="seventh-row">Ingredients:</h3>

          <mat-list class="eigth-row" dense>
            <mat-list-item *ngFor="let ingridient of CurrentSession.Recipe.ingredients">
              <span style="margin-right: .5em">{{ingridient.amount}}x</span>
              <img [src]="getIconByName(ingridient.name)"
                   height="32"
                   width="32"
                   alt=""
                   style="margin-right: .5em"/>
              <span>{{ingridient.name | replaceChar: '-':' ' | titlecase}}</span>
            </mat-list-item>
          </mat-list>
        </div>
        <div class="first-row second-column" id="calc-details-calc-details">
          <h3 class="first-row">Modifiers:</h3>
          <mat-form-field class="second-row">
            <input [(ngModel)]="CurrentSession.Recipe.energy"
                   disabled
                   matInput
                   name="input_recipeEnergy"
                   placeholder="Energy">
          </mat-form-field>
          <mat-form-field class="third-row">
            <input [(ngModel)]="CurrentSession.CraftingSpeedMultiplier"
                   disabled
                   matInput
                   name="input_craftingSpeedMultiplier"
                   placeholder="Crafting Speed Multiplier">
          </mat-form-field>
          <mat-form-field class="fourth-row">
            <input [(ngModel)]="CurrentSession.CraftingOutputMultiplier"
                   disabled
                   matInput
                   name="input_craftingOutputMultiplier"
                   placeholder="Crafting Output Multiplier">
          </mat-form-field>
          <mat-form-field class="fifth-row">
            <input [(ngModel)]="CurrentSession.TargetCraftingsPerSecond"
                   disabled
                   matInput
                   name="input_targetCraftingsPerSecond"
                   placeholder="Target Craftings Per Second">
          </mat-form-field>
          <mat-form-field class="sixth-row">
            <input [(ngModel)]="CurrentSession.CraftingsPerSecond"
                   disabled
                   matInput
                   name="input_CraftingsPerSecond"
                   placeholder="Craftings Per Second">
          </mat-form-field>
          <mat-form-field class="seventh-row">
            <input [(ngModel)]="CurrentSession.ItemsPerSecond"
                   disabled
                   matInput
                   name="input_itemsPerSecond"
                   placeholder="Items Per Second">
          </mat-form-field>
        </div>
      </div>
    </mat-expansion-panel>
  </form>
</mat-card>

