<mat-card>
  <form #calcForm="ngForm" class="form-flex-columns">
    <mat-form-field>
      <input [(ngModel)]="CurrentSession.TargetAmountPerSecond"
             matInput
             name="input_targetAmountPerSecond"
             placeholder="Target Amount Per Second">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="CurrentSession.CraftingSpeedMultiplier"
             disabled
             matInput
             name="input_craftingSpeedMultiplier"
             placeholder="Crafting Speed Multiplier">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="CurrentSession.CraftingOutputMultiplier"
             disabled
             matInput
             name="input_craftingOutputMultiplier"
             placeholder="Crafting Output Multiplier">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="CurrentSession.TargetCraftingsPerSecond"
             disabled
             matInput
             name="input_targetCraftingsPerSecond"
             placeholder="Target Craftings Per Second">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="CurrentSession.CraftingsPerSecond"
             disabled
             matInput
             name="input_CraftingsPerSecond"
             placeholder="Craftings Per Second">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="CurrentSession.ItemsPerSecond"
             disabled
             matInput
             name="input_itemsPerSecond"
             placeholder="Items Per Second">
    </mat-form-field>
  </form>
</mat-card>

