form {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto;
}

#calc-details-exp-details {
  grid-column: 1 / span 3;
  border: .05em solid red;
}

#calc-details-exp-details-content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
}

#calc-details-calc-details {
  display: grid;
}

#calc-details-recipe-details {
  display: grid;
  grid-template-rows: repeat(8, min-content);
}

#calc-details-modules-heading {
  display: grid;
  grid-template-columns: max-content auto min-content;
  align-items: center;
}

#calc-details-modules-heading button {
  margin-right: 6px;
}

mat-form-field {
  margin: .5em;
}

.moduleList {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
}
