form {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto;
}

#calc-details-exp-details {
  grid-column: 1 / span 3;
  border: .05em solid red;
}

#calc-details-exp-details-content {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
}

#calc-details-calc-details {
  display: grid;
}

#calc-details-recipe-details {
  display: grid;
  grid-template-rows: repeat(8, min-content);
}

.headingWithAddButton {
  display: grid;
  grid-template-columns: max-content auto min-content;
  align-items: center;
}

.headingWithAddButton button {
  margin-right: 4px;
}

mat-form-field {
  margin: .5em;
}

.moduleList {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
}

.btn_remove_module {
  margin-right: -12px;
}

.addRemoveControl {
  min-width: 107px;
  margin-right: -17px;
}

.addRemoveControl button {
  width: 36px;
  margin-right: .5em;
  margin-left: .5em;
  min-width: 1%;
  padding: 0;
}
