<mat-card *ngFor="let group of GroupedCraftingMachines">
  <h2>{{group[0]  | replaceChar: "-":" " | titlecase}}</h2>
    <mat-selection-list (selectionChange)="onCraftingMachineSelectionChanged($event, group)"
                        dense>
      <div *ngFor="let craftingMachine of group[1]">
        <mat-list-option [selected]="craftingMachine.name === group[2]?.craftingMachine?.name"
                         [value]="craftingMachine">
                <span>
                  <img [src]="getIconByName(craftingMachine.name)"
                       alt=""
                       height="32"
                       width="32"/>
                  {{craftingMachine.name | replaceChar: '-':' ' | titlecase}}
                </span>
        </mat-list-option>
      </div>
    </mat-selection-list>


  <app-module-list (AddModule)="onAddModuleToCategory($event,group)"
                   (RemoveModule)="onRemoveModuleFromCategory($event,group)"
                   Title="Modules"
                   [AvailableModules]="Modules"
                   [MaxNumberOfModules]="group[2].craftingMachine.moduleInventorySize"
                   [SelectedModules]="group[2].modules"
                   class="modulesList">

  </app-module-list>

  <app-module-list (AddModule)="onAddBeaconToCategory($event,group)"
                   (RemoveModule)="onRemoveBeaconFromCategory($event,group)"
                   Title="Beacons"
                   [AvailableModules]="Modules"
                   [MaxNumberOfModules]="null"
                   [SelectedModules]="group[2].beacons"
                   class="beaconList">

  </app-module-list>
</mat-card>




